* {
  margin: 0;
  padding: 0;
}
.main-text {
  text-align: center;
  padding: 1rem;
  border-bottom: 0.5px solid rgb(207, 205, 205);
}
.heading {
  margin-bottom: 1.5rem;
}
.item-list {
  width: 30rem;
  max-width: 80%;
  margin: auto;
}

.item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-list li {
  margin: 1rem 0;
  padding: 1rem 2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  padding: 1px;
}
.description {
  font-size: 0.8rem;
  padding: 1px;
}

.fa-check-circle {
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  cursor: pointer;
  color: rgb(5, 150, 24);
}
.fa-edit {
  position: absolute;
  right: 3.7rem;
  top: 2.5rem;
  cursor: pointer;
  color: rgb(201, 18, 18);
}
.item-list i {
  font-size: 1.4rem;
}
